body {
  color: #545454;
  background-color: #f5f5f5
}

.main-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1
}

.shop-context {
  width: 100%;
  height:4.63rem;
  position: relative
}

.shop-list {
  width: inherit;
  height: inherit;
  background: url("../img/shop-info-head.jpg");
  background-size: cover
}

.to-record-page {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #31e2cb;
  z-index: 99
}

.shop-context-list {
  width: 100%;
  margin-top: .15rem
}

.shop-context-list > div {
  width: inherit;
  height: .77rem
}

.shop-context-list > div > img {
  width: inherit;
  height: inherit
}

.shop-context-list > ul, .shop-context-list > ul > li {
  width: inherit;

}

.shop-context-list > ul > li > img {
  width: 100%
}

.footer {
  width: inherit;
  height: 1.66rem;
  text-align: center;
  background-color: #fff;
  overflow: hidden;
  margin-top: .15rem
}

.footer > li {
  width: inherit
}

.footer > li:first-child {
  font-size: .36rem;
  margin-bottom: .25rem;
  margin-top: .27rem
}

.footer > li img {
  height: .37rem;
  width: .27rem;
  margin-right: .2rem
}
.prize{
  border-top: 5px solid #f5f5f5;
}
.prize>img{
  height: 2.45rem;
  width: inherit;
}
.btn-shop{
  width: 100%;
  height: 1rem;
  padding-top: .3rem;
  padding-bottom: .1rem;
  background-color: #fff;
}
.btn-shop>li{
  float: left;
  width: 50%;
  height: .6rem;
  color: #fff;
}
.btn-shop>li>span{
  display: inline-block;
  width: 1.8rem;
  height: inherit;
  background-color: #0b5847;
  border-radius: .1rem;
  line-height: .6rem;
}
.activity-info{
  text-align: left;
  padding:10px;
  background-color: #fff;
  line-height: .35rem;
}
.activity-info>span{
  font-size: .3rem;
  color: #31e2cb;
}

